################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/微服务架构/WeaveMicro/bin/Debug/net5.0/route
/微服务架构/WeaveMicro/bin/Debug/net5.0/doc/服务产品/24小时预报
/微服务架构/WeaveMicro/bin/