.layui-layer-setwin .layui-layer-close2{
	z-index:1001;
}
.form-submit .btn.loading {
	color: transparent;
}
.form-submit .btn.loading::after{
	content:"";position:absolute;height: 32px;width:32px;left:50%;margin-left:-22px;top:2px;
	background:url(../js/theme/default/loading-2.gif) no-repeat center center;background-size:35px;
	-webkit-transform: rotate(0deg) translateZ(0);
	-webkit-transition-duration: 0ms;
	-webkit-animation-name: loading;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-transform: rotate(0deg) translateZ(0);
	-moz-transition-duration: 0ms;
	-moz-animation-name: loading;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}
@-webkit-keyframes loading {
	from {
		-webkit-transform:rotate(0deg) translateZ(0);
	}
	to {
		-webkit-transform: rotate(360deg) translateZ(0);
	}
}
@-moz-keyframes loading {
	from {
		-moz-transform:rotate(0deg) translateZ(0);
	}
	to {
		-moz-transform: rotate(360deg) translateZ(0);
	}
}